# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Tidy up tabs'
      'command': 'tidy-tabs:remove-stale-tabs'
    }
  ]
